= render "step-header4"
.signup-form
  .signup-form__container
    %h2.signup-form__container__title
      クレジットカード情報入力
    .signup-form__container__main
      = form_tag("/users/signup/complete", method: :get, id: 'charge-form',  name: "inputForm", class: 'signup-form__container__inner') do
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              カード番号
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %label
          = text_field_tag "card_number", "", class: "signup-form__container__inner__form__field", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          .form4__container__inner__form__image
            .form4__container__inner__form__image__ul
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?465897195', class: "form4__container__inner__form__image__ul__li"
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              有効期限
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          = render "signup/credit_expiration"
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              セキュリティーコード
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %label
          = text_field_tag "cvc", "", class: "cvc signup-form__container__inner__form__field", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          %img_tag.signup-form__container__inner__form__image
        .signup-form__container__inner__question
          カードの裏面の番号とは？
        = f.submit '追加する', class: 'signup-form__container__inner__submit'
.signup-footer
  .signup-footer__section
    %ul.signup-footer__section__ul
      %li.signup-footer__section__ul__li 
        = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/", class: "signup-footer__section__ul__li__link"
      %li.signup-footer__section__ul__li2 
        = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/", class: "signup-footer__section__ul__li__link"
      %li.signup-footer__section__ul__li2 
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/", class: "signup-footer__section__ul__li__link"
    = link_to root_path, class: "signup-footer__section__homepage" do
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195', class: 'signup-footer__section__homepage__image'
    .signup-footer__section__copyright
      %p ©︎2019 Mercari



