= render "step-header4"
.signup-form
  .signup-form__container
    %h2.signup-form__container__title
      クレジットカード情報入力
    .signup-form__container__main
      = form_tag("/users/signup/complete", method: :get, id: 'charge-form',  name: "inputForm", class: 'signup-form__container__inner') do
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              カード番号
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %label
          = text_field_tag "card_number", "", class: "signup-form__container__inner__form__field", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          .form4__container__inner__form__image
            .form4__container__inner__form__image__ul
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?465897195', class: "form4__container__inner__form__image__ul__li"
              = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?465897195', class: "form4__container__inner__form__image__ul__li"
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              有効期限
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          = render "signup/credit_expiration"
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              セキュリティーコード
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %label
          = text_field_tag "cvc", "", class: "cvc signup-form__container__inner__form__field", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          %img_tag.signup-form__container__inner__form__image
        .signup-form__container__inner__question
          カードの裏面の番号とは？
        #card_token
        = submit_tag "追加する", id: "token_submit", class: 'signup-form__container__inner__submit'
= render 'form-footer'
