%ul.gnav__category-top
  %li
    = image_tag 'https://i.gyazo.com/a8ab7bb03ef6cd322006bffe7eb04005.png',class: 'gnav__category-top--icon'
    = link_to '#', class: 'gnav__category-top--link' do
      %tt カテゴリーから探す
    %ul
      %li.gnav__category-top--parent
        = link_to '#' do
          レディース
        %ul
          %li
            = link_to '#' do
              トップス
            %ul
              %li
                = link_to '#' do
                  Tシャツ/カットソー（半袖/袖なし)
              %li
                %a{:href => ""} Greatgrandchild2
              %li
                %a{:href => ""} Greatgrandchild3
              %li
                %a{:href => ""} Greatgrandchild4
              %li
                %a{:href => ""} Greatgrandchild5
          %li
            %a{:href => ""} Grandchild2
          %li
            %a{:href => ""} Grandchild3
          %li
            %a{:href => ""} Grandchild4
          %li
            %a{:href => ""} Grandchild5
      %li
        = link_to '#' do
          メンズ
      %li
        = link_to '#' do
          ベビー・キッズ
      %li
        = link_to '#' do
          インテリア・住まい・小物
      %li
        = link_to '#' do
          本・音楽・ゲーム
