.header
  .header-inner
    .header-inner__top
      .header-inner__top__logo
        = link_to root_path, alt: "メルカリアイコン",class:'mercari-icon' do
          = image_tag "mercari_toppage_logo.svg",size: "135x36"
      .header-inner__top__form
        %form{action: "https://www.mercari.com/jp/search/"}
          %input.form_search{placeholder: "何かお探しですか？"}
            %label.header-inner__top__form__search-icon_r
              = fa_icon 'search',class:'submit'
    .header-inner__bottom
      %li.header-inner__bottom__left__category 
        %ul.gnav__category-top
          %li
            = link_to '#', class: 'gnav__category-top--link' do
              = image_tag 'https://i.gyazo.com/a8ab7bb03ef6cd322006bffe7eb04005.png',class: 'gnav__category-top--icon'
              %tt.gnav__category-top--link--text カテゴリーから探す
            %ul
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  レディース
                %ul.gnav__category-top__child
                  - ladies_child.first(19).each do |l_child|
                    %li.gnav__category-top__child--list
                      = link_to '#' do
                        = l_child.name
                      %ul.gnav__category-top__groundchild
                        - l_child.children.each do |g_child|
                          %li.gnav__category-top__groundchild--list
                            = link_to '#' do
                              = g_child.name
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  メンズ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  ベビー・キッズ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  インテリア・住まい・小物
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  本・音楽・ゲーム
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  おもちゃ・ホビー・グッズ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  コスメ・香水・美容
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  家電・スマホ・カメラ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  スポーツ・レジャー
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  ハンドメイド
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  チケット
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  自動車・オートバイ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  その他
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  カテゴリー一覧
      %li.header-inner__bottom__left__brand
        %ul.gnav__category-top
          %li
            = link_to '#', class: 'gnav__category-top--link' do
              = image_tag 'https://gyazo.com/550cb37c43ddbbc1f987c3bfee430380.png',class: 'gnav__category-top--icon'
              %tt.gnav__category-top--link--text ブランドから探す
            %ul
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  レディース
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  メンズ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  ベビー・キッズ
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  インテリア・住まい・小物
              %li.gnav__category-top__parent--list
                = link_to '#' do
                  本・音楽・ゲーム
      %li.header-inner__bottom__left__like
        %ul.gnav__category-top
          %li
            = link_to '#', class: 'gnav__category-top--right' do
              %i.far.fa-heart.header--bottom--icon
              %tt.gnav__category-top--link--text いいね！一覧
      %li.header-inner__bottom__left__news
        %ul.gnav__category-news
          %li
            = link_to '#', class: 'gnav__category-news--right' do
              %i.far.fa-bell.header--bottom--icon
              %tt.gnav__category-news--link--text お知らせ
            %ul.gnav__category-top__news
              %li.gnav__category-top__news--list
                = link_to "#", class: "gnav__category-top__news--list" do
                  = image_tag '95750e8a4355cdb0592222e962c61f99.png', height: '40px', width: '40px', class:'gnav__category-top__news--list--photo'
                  %tt.gnav__category-top__news--list--text 
                    事務局から個別メッセージ
                  %i.far.fa-clock.news-icon--parent
                    5時間前
                  %i.fas.fa-chevron-right.news--icon--keds
              %li.gnav__category-top__news--list
                = link_to "#", class: "gnav__category-top__news--list" do
                  = image_tag '95750e8a4355cdb0592222e962c61f99.png', height: '40px', width: '40px', class:'gnav__category-top__news--list--photo'
                  %tt.gnav__category-top__news--list--text 
                    事務局から個別メッセージ
                  %i.far.fa-clock.news-icon--parent
                    5時間前
                  %i.fas.fa-chevron-right.news--icon--keds
              %li.gnav__category-top__news--list
                = link_to "#", class: "gnav__category-top__news--list" do
                  = image_tag '95750e8a4355cdb0592222e962c61f99.png', height: '40px', width: '40px', class:'gnav__category-top__news--list--photo'
                  %tt.gnav__category-top__news--list--text 
                    事務局から個別メッセージ
                  %i.far.fa-clock.news-icon--parent
                    5時間前
                  %i.fas.fa-chevron-right.news--icon--keds
              %li.gnav__category-top__news--list
                = link_to "#", class: "gnav__category-top__news--list" do
                  = image_tag '95750e8a4355cdb0592222e962c61f99.png', height: '40px', width: '40px', class:'gnav__category-top__news--list--photo'
                  %tt.gnav__category-top__news--list--text 
                    事務局から個別メッセージ
                  %i.far.fa-clock.news-icon--parent
                    5時間前
                  %i.fas.fa-chevron-right.news--icon--keds
              %li.gnav__category-top__news--list
                = link_to "#", class: "gnav__category-top__news--list" do
                  = image_tag '95750e8a4355cdb0592222e962c61f99.png', height: '40px', width: '40px', class:'gnav__category-top__news--list--photo'
                  %tt.gnav__category-top__news--list--text 
                    事務局から個別メッセージ
                  %i.far.fa-clock.news-icon--parent
                    5時間前
                  %i.fas.fa-chevron-right.news--icon--keds
      %li.header-inner__bottom__left__todo
        %ul.gnav__category-todo
          %li
            = link_to '#', class: 'gnav__category-todo--right' do
              %i.fas.fa-check.header--bottom--icon
              %tt.gnav__category-todo--link--text やることリスト
            %ul.gnav__category-top__todo
              %li.gnav__category-top__todo--list
                = image_tag 'https://i.gyazo.com/84ef7fe1b3cdf5fee9bb5605ad9230e8.png',height: '180px', width: '300px'
      %li.header-inner__bottom__left__user
        %ul.gnav__category-mypage
          %li.gnav__category-mypage--under
            = link_to '#', class: 'gnav__category-mypage--under--my' do
              = image_tag 'mypage.png',height: '30px', width: '30px', class: 'header__mypage--icon'
              %tt.gnav__mypage--text マイページ
            %ul.mypage__nav
              %li.mypage__nav--list--top
                = image_tag 'https://i.gyazo.com/c6844c25805f535e5b3b9a3c87e5ea69.png'
                = link_to '#' ,class: 'mypage__nav--list--top-good'do
                  評価: 0
                = link_to '#' ,class: 'mypage__nav--list--top-num' do
                  出品数: 0
                .mypage__nav--list--top--list--box
                  = link_to "#" do
                    %tt.mypage__nav--list--top--list--box--text 売上金
                    %tt.mypage__nav--list--top--list--box--text--right ¥0
                .mypage__nav--list--top--list--box--under
                  = link_to "#" do
                    %tt.mypage__nav--list--top--list--box--under--text ポイント
                    %tt.mypage__nav--list--top--list--box--under--text--right P0
                .mypage__nav--list--top--content--first
                  = link_to '#' do
                    %tt.mypage__nav--list--top--content--first--text いいね！一覧
                    %i.fas.fa-chevron-right.icon-index.mypage--content--icon
                .mypage__nav--list--top--content
                  = link_to '#' do
                    %tt.mypage__nav--list--top--content--text いいね！一覧
                    %i.fas.fa-chevron-right.icon-index.mypage--content--icon
                .mypage__nav--list--top--content
                  = link_to '#' do
                    %tt.mypage__nav--list--top--content--text いいね！一覧
                    %i.fas.fa-chevron-right.icon-index.mypage--content--icon
                .mypage__nav--list--top--content
                  = link_to '#' do
                    %tt.mypage__nav--list--top--content--text いいね！一覧
                    %i.fas.fa-chevron-right.icon-index.mypage--content--icon
                .mypage__nav--list--top--content
                  = link_to '#' do
                    %tt.mypage__nav--list--top--content--text いいね！一覧
                    %i.fas.fa-chevron-right.icon-index.mypage--content--icon
  
      .header-inner__bottom__left
        %li.header-inner__bottom__left__category 
          = render partial: 'shared/categories'
           
        %li.header-inner__bottom__left__brand
          %h2
            .header-inner__bottom__left__brand__tag-icon_r
              = link_to root_path, alt: "タグ",class:'h-deco' do
                = image_tag "tag-icon.png", size: "30x18"
                %span.h-link ブランドから探す
      .header-inner__bottom__right
        .header-inner__bottom__right__favitems
          = link_to root_path,class:"h-deco" do
            .listset
              %i.far.fa-heart.h-link_r.fa-lg
                %span.h-link_r いいね！一覧
        .header-inner__bottom__right__notice  
          = link_to root_path, class:"h-deco" do
            .listset
              %i.fa.fa-bell.h-link_r.fa-lg
                %span.h-link_r お知らせ
        .header-inner__bottom__right__todolist
          = link_to root_path, class:"h-deco" do
            .listset2
              %i.fas.fa-check.h-link_r.fa-lg
                %span.h-link_r2 やることリスト
        .header-inner__bottom__right__mypage
          .header-inner__bottom__right__mypage__icon
            %li
              = link_to root_path, alt: "マイページアイコン",class:'h-deco' do
                = image_tag "mypage.png",size: "35x35"
                %span.hm マイページ
