= render "signup/form-header"
.session-content
  .session-content__section
    .session-content__section--registration
      .session-content__section--registration--text アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", new_user_registration_path, class: "session-content__section--registration--btn"
    .session-content__section--inner
      .session-content__section--inner--btn
        .session-content__section--inner--btn--facebook
          .session-content__section--inner--btn--facebook--box
            %i.fab.fa-facebook-square.fa-2x.facebook
            = link_to "Facebookで登録する", "#", class:"facebook-text"
        .session-content__section--inner--btn--google
          .session-content__section--inner--btn--google--box
            .google-icon
              %i.fab.fa-google.fa-lg.google
              %i.fab.fa-google.fa-lg.google
            = link_to "Googleで登録する", "#", class:"google-text"
    .session-content__section--form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class: "sign-in-mail"
        .field
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "sign-in-pass"
        .actions
          = f.submit  "ログイン", id: "user-btn"
      = render "devise/shared/links"
= render 'signup/form-footer'
%script{defer: "defer", src: "https://use.fontawesome.com/releases/v5.3.1/js/all.js"}
%svg{style: "width:0;height:0;"}
  %defs
    %lineargradient#grad1{x1: "0%", x2: "50%", y1: "30%", y2: "0%"}
      %stop{offset: "50%", "stop-color" => "#34a853"}
      %stop{offset: "50%", "stop-color" => "#4285f4"}
    %lineargradient#grad2{x1: "0%", x2: "50%", y1: "30%", y2: "0%"}
      %stop{offset: "50%", "stop-color" => "#fbbc05"}
      %stop{offset: "50%", "stop-color" => "#ea4335"}

