.header
  .header-inner
    .header-inner__top
      .header-inner__top__logo
        = link_to root_path, alt: "メルカリアイコン",class:'mercari-icon' do
          = image_tag "mercari_toppage_logo.svg",size: "135x36"
      .header-inner__top__form
        %form{action: "https://www.mercari.com/jp/search/"}
          %input.form_search{placeholder: "何かお探しですか？"}
            %label.header-inner__top__form__search-icon_r
              = fa_icon 'search fa-lg',class:'submit'
    .header-inner__bottom
      .header-inner__bottom__search
        .header-inner__bottom__search--categories
          = link_to '#', class: 'category' do
            = image_tag 'https://i.gyazo.com/a8ab7bb03ef6cd322006bffe7eb04005.png',class: ''
            カテゴリーから探す
          %ul#parents
            - parents.each do |parent|
              %li.parent
                %a.parent--text{data:{category:{id: "#{parent.id}"}}, href: "#"} #{parent.name}
            %li.parent
              = link_to "カテゴリ一覧", "#", class: "parent--text"
            %ul#children
              %ul#grand_children
        .header-inner__bottom__search--brands
          = link_to '#', class: 'brand' do
            = image_tag 'https://gyazo.com/550cb37c43ddbbc1f987c3bfee430380.png',class: ''
            ブランドから探す
          %ul.brands
            %li.brands-list
              = link_to "シャネル", "#", class: "brands-list--name"
            %li.brands-list
              = link_to "ナイキ", "#", class: "brands-list--name"
            %li.brands-list
              = link_to "ルイ ヴィトン", "#", class: "brands-list--name"
            %li.brands-list
              = link_to "シュプリーム", "#", class: "brands-list--name"
            %li.brands-list
              = link_to "アディダス", "#", class: "brands-list--name"
            %li.brands-list
              = link_to "ブランド一覧", "#", class: "brands-list--name"
      %ul.header-inner__bottom__info
        %li.header-inner__bottom__info--like
          = link_to '#', class: 'like' do
            %i.far.fa-heart.fa-lg.like--icon
            いいね！一覧
        %li.header-inner__bottom__info--notice
          = link_to "#", class: 'notice' do
            %i.far.fa-bell.fa-lg.notice--icon
            お知らせ
        %li.header-inner__bottom__info--todo
          = link_to '#', class: 'todo' do
            %i.fas.fa-check.fa-lg.todo--icon
            やることリスト
        %li.header-inner__bottom__info--mypage
          = link_to '#', class: 'mypage' do
            = image_tag 'mypage.png', class: 'mypage--icon'
            マイページ