%html#mypage-all
  %body#mypage-show
    %header.products__header--buy
      = link_to image_tag('Mercari_logo.svg', height: '49px', width: '185px'), '/'
    %main.products__content--buy
      %section.products__content--buy--container
        %header.products__content--buy--container--header
          %h2.products__content--buy--container--header--title
            購入内容の確認
        .products__content--buy--item
          = image_tag @product.images[0].picture.to_s, alt: 'picture', height: '64px', width: '64px', class: 'products__content--buy--item--photo'
          %tt.products__content--buy--item--text 
            = @product.name
        .products__content--buy--form
          .products__content--buy--price
            .products__content--buy--price--text
              .products__content--buy--price--text--main 
                = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
              .products__content--buy--price--text--addition
                送料込み
          .products__content--buy--point
            %p.products__content--buy--point--text
              ポイントはありません
          .products__content--buy--pay
            %span.products__content--buy--pay--left 支払い金額
            .products__content--buy--pay--right 
              = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
          - if @card_information.present?
            = form_tag(pay_product_path, method: :post) do
              %button.products__content--buy--select 購入する
          - else
            .products__content--buy--no-select 購入する
        = render 'shared/user_information'
      %footer.products__content--buy--footer
        = link_to '#', class: 'products__content--buy--footer--link' do
          %tt プライバシーポリシー
        = link_to '#', class: 'products__content--buy--footer--link' do
          %tt メルカリ利用規約
        = link_to '#', class: 'products__content--buy--footer--link' do
          %tt 特定商品に関する表記
        .products__content--buy--footer--img
          = link_to image_tag('mercari-footer-logo.png', height: '70px', width: '80px', class: 'products__content--buy--footer--img--photo'), '/'
          %p.products__content--buy--footer--img--text
            © 2019 Mercari


