.header
  .header-inner
    .header-inner__top
      .header-inner__top__logo
        = link_to root_path, alt: "メルカリアイコン",class:'mercari-icon' do
          = image_tag "mercari_toppage_logo.svg",size: "135x36"
      .header-inner__top__form
        %form{action: "https://www.mercari.com/jp/search/"}
          %input.form_search{placeholder: "  何かお探しですか？"}
            %label.header-inner__top__form__search-icon_r
              = fa_icon 'search',class:'submit'
    .header-inner__bottom
      .header-inner__bottom__left
        %li.header-inner__bottom__left__category 
          = render partial: 'categories'
           
        %li.header-inner__bottom__left__brand
          %h2
            .header-inner__bottom__left__brand__tag-icon_r
              = link_to root_path, alt: "タグ",class:'h-deco' do
                = image_tag "tag-icon.png", size: "30x18"
                %span.h-link ブランドから探す
      .header-inner__bottom__right
        .header-inner__bottom__right__favitems
          = link_to root_path,class:"h-deco" do
            .listset
              %i.far.fa-heart.h-link_r.fa-lg
                %span.h-link_r いいね！一覧
        .header-inner__bottom__right__notice  
          = link_to root_path, class:"h-deco" do
            .listset
              %i.fa.fa-bell.h-link_r.fa-lg
                %span.h-link_r お知らせ
        .header-inner__bottom__right__todolist
          = link_to root_path, class:"h-deco" do
            .listset2
              %i.fas.fa-check.h-link_r.fa-lg
                %span.h-link_r2 やることリスト
        .header-inner__bottom__right__mypage
          .header-inner__bottom__right__mypage__icon
            %li
              = link_to root_path, alt: "マイページアイコン",class:'h-deco' do
                = image_tag "mypage.png",size: "35x35"
                %span.hm マイページ
