%html
  %body#item-detail
    %header
      = render partial: "shared/header_index" 
    %section.item
      %h1.item__name 
        = @product.name
      %p.item__wording.p-item-detail
      .item__main-content.clearfix-item-detail
        .item__main-content__photo
          .item__main-content__photo__frame
            .item__main-content__photo__frame__stage-outer
              %ul.item__main-content__photo__frame__stage-outer__stage
                - @product.images.each.with_index do |p,i|
                  %li.item__main-content__photo__frame__stage-outer__stage__item                   
                    = image_tag p.picture.url, class: "item__main-content__photo__frame__stage-outer__stage__item__image"                                
          %ul.item__main-content__photo__frame__dots
            - @product.images.each.with_index do |p,i|
              %li.item__main-content__photo__frame__dots__dot 
                = image_tag p.picture.url,class: "item__main-content__photo__frame__dots__dot__image"
        %table.item__main-content__detail-table
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 出品者
            %td.item__main-content__detail-table__row__data
              %div
                = link_to "#{@product.user.nickname}","/users", class: "item__main-content__detail-table__row__data__user link-item-detail link-blue-color"
              %div.item__main-content__detail-table__row__data__rate
                .item__main-content__detail-table__row__data__rate__user-ratings 
                  %i.fa.fa-grin.icon-item-detail
                  %span
                  = @product.user.v_good
                .item__main-content__detail-table__row__data__rate__user-ratings
                  %i.fa.fa-meh.icon-item-detail
                  %span 
                  = @product.user.v_accept
                .item__main-content__detail-table__row__data__rate__user-ratings
                  %i.fa.fa-frown.icon-item-detail
                  %span
                  = @product.user.v_bad
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header カテゴリー
            %td.item__main-content__detail-table__row__data
              %div
                = link_to "#{@parent_category_name}", category_path(@parent_category_id), class: "link-item-detail link-blue-color"
              %div
                %i.fa.fa-chevron-right.icon-item-detail
                = link_to "#{@child_category_name}",category_path(@child_category_id), class: "link-item-detail link-blue-color"
              %div
                %i.fa.fa-chevron-right.icon-item-detail
                = link_to "#{@product.category.name}", category_path(@product.category_id), class: "link-item-detail link-blue-color"
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header ブランド
            %td.item__main-content__detail-table__row__data
              - if @product.brand_id.present?
                = link_to "#{@product.brand.name}", brand_path(@product.brand_id),class:'link-item-detail link-blue-color'
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 商品の状態
            %td.item__main-content__detail-table__row__data
              = @product.status
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 配送料の負担
            %td.item__main-content__detail-table__row__data
              = @product.d_charge
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 配送の方法
            %td.item__main-content__detail-table__row__data 
              = @product.d_method
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 配送元地域
            %td.item__main-content__detail-table__row__data
              %div
                = link_to "#{@product.d_origin}",'#', class: "link-item-detail link-blue-color"
          %tr.item__main-content__detail-table__row
            %th.item__main-content__detail-table__row__header 発送日の目安
            %td.item__main-content__detail-table__row__data
              = @product.d_interval
      .item__price-box
        %span.item__price-box__price
          = "￥#{@product.price.to_s(:delimited, delimiter:',')}"
        %span.item__price-box__tax (税込)
        %span.item__price-box__shipping-fee
          = @product.d_charge.sub!(/\(.*/, "")
      %div
        = link_to '購入画面に進む', buy_product_path(@product.id), class: "item__buy-btn link-item-detail"
      %p.item__shipping-not-allowed-message
        = @product.d_method == 'ゆうゆうメルカリ便' ? "この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。" : ""
      .item__description
        %p.item__description-inner.p-item-detail
          = @product.introduction 
      .item__button-container.clearfix-item-detail
        .item__button-container__button-left
          .item__button-container__button-left__button-like.link-item-detail
            %i.fa.fa-heart.icon-item-detail
            %span.item__button-container__button-left__button-like__letter いいね!
            %span.item__button-container__button-left__button-like__letter 3
            = link_to "", root_path
          .item__button-container__button-left__button-report.link-item-detail.clearfix-item-detail
            %i.fa.fa-flag.icon-item-detail
            %span.item__button-container__button-left__button-report__letter 不適切な商品の報告
            = link_to "", root_path
        .item__button-container__button-right
          .item__button-container__button-right__link-safety.link-item-detail
            %i.fa.fa-lock.icon-item-detail
            %span.item__button-container__button-right__link-safety__letter あんしん・あんぜんへの取り組み
            = link_to "", root_path
    .item-detail-message
    %ul.item-link.clearfix-item-detail
      %li.item-link__prev
        %div.item-link__prev__blue-link
          %i.fa.fa-chevron-left
          =link_to "#{@previous_product.name}", product_path(@previous_product.id), class: "link-item-detail link-current-color"
      %li.item-link__next
        %div.item-link__next__blue-link         
          =link_to "#{@next_product.name}", product_path(@next_product.id), class: "link-item-detail link-current-color"
          %i.fa.fa-chevron-right
    .social-media-content
      .social-media-content__text
      %ul.social-media-content__box
        %li.social-media-content__box__list
          %a.social-media-content__box__list__share-btn.link-item-detail
            %i.fab.fa-facebook-square.icon-item-detail
        %li.social-media-content__box__list
          %a.social-media-content__box__list__share-btn.link-item-detail
            %i.fab.fa-twitter-square.icon-item-detail
        %li.social-media-content__box__list
          %a.social-media-content__box__list__share-btn
            %i.fab.fa-line.icon-item-detail
        %li.social-media-content__box__list
          %a.social-media-content__box__list__share-btn.link-item-detail
            %i.fab.fa-pinterest-square.icon-item-detail
    .items-in-user-profile
      %section.items-in-user-profile__container.clearfix-item-detail
        %h2.items-in-user-profile__container__head
          = link_to "#{@product.user.nickname}さんのその他の出品", "/users", class: "items-in-user-profile__container__head__link link-item-detail link-blue-color"
        .items-in-user-profile__container__content.clearfix-item-detail
          - @ordered_other_products.each do|product|
            %section.items-in-user-profile__container__content__block                 
              = link_to product_path(product.id), class:'items-in-user-profile__container__content__block__link link-item-detail' do
                %figure.items-in-user-profile__container__content__block__link__photo   
                  = image_tag product.images[0].picture.url,class:'items-in-user-profile__container__content__block__link__photo__image'
                .items-in-user-profile__container__content__block__link__body
                  %h3.items-in-user-profile__container__content__block__link__body__name 
                    = product.name
                  .items-in-user-profile__container__content__block__link__body__num
                    .items-in-user-profile__container__content__block__link__body__num__price
                      = "￥#{product.price.to_s(:delimited, delimiter:',')}"
                    .items-in-user-profile__container__content__block__link__body__num__mark
                      %i.fa.fa-heart.icon-item-detail
                      %span.items-in-user-profile__container__content__block__link__body__num__mark__lank
                        = product.likes_count
      %section.items-in-user-profile__container.clearfix-item-detail
        %h2.items-in-user-profile__container__head
          =link_to "#{@product.category.name} その他の商品",category_path(@product.category_id),class: "items-in-user-profile__container__head__link link-item-detail link-blue-color"
        .items-in-user-profile__container__content.clearfix-item-detail
          - @same_category_products.each do|product|
            %section.items-in-user-profile__container__content__block
              = link_to product_path(product.id),class:'items-in-user-profile__container__content__block__link link-item-detail' do
                %figure.items-in-user-profile__container__content__block__link__photo   
                  = image_tag product.images[0].picture.url,class:'items-in-user-profile__container__content__block__link__photo__image'
                .items-in-user-profile__container__content__block__link__body
                  %h3.items-in-user-profile__container__content__block__link__body__name 
                    = product.name
                  .items-in-user-profile__container__content__block__link__body__num
                    .items-in-user-profile__container__content__block__link__body__num__price
                      = "￥#{product.price.to_s(:delimited, delimiter:',')}"
                    .items-in-user-profile__container__content__block__link__body__num__mark
                      %i.fa.fa-heart.icon-item-detail
                      %span.items-in-user-profile__container__content__block__link__body__num__mark__lank
                        = product.likes_count
    %nav.pos-bottom
      %ul.pos-bottom__list
        %li.pos-bottom__list__left-part
          %span
            =link_to "メルカリ", root_path, class: "link-item-detail link-current-color"
          %i.fa.fa-chevron-right.icon-item-detail
        %li.pos-bottom__list__right-part
          %span
            = "#{@product.name}" 
    %footer
      = render partial: "shared/footer"